.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.hamburger span {
    display: block;
    background-color: var(--textColor);
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}