:root {
  box-sizing: border-box;
  --backgroungColor: rgb(10, 25, 47);
  --primary-green-color: rgb(133, 185, 133);
  --textColor: rgb(228, 214, 214);
  --projectInfoBg: #112240;
  --links-color: rgb(163, 152, 152);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroungColor);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global styling */
.keyWords {
  color: var(--primary-green-color);
}

.container {
  max-width: 80%;
  margin: 1.5rem auto;
}

#about,
#contacts {
  margin: 3rem;
}

#about h3,
#projects h3,
#contacts h3 {
  text-align: center;
}

.icons {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  margin: 2rem 0;
}

.icons .icon {
  color: var(--textColor);
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.icons a:hover {
  color: var(--primary-green-color);
  opacity: 0.5;
}

.show {
  display: block;
  /* transform: translateX(0); */
}
/* nav sytling */
/* #navbar{
  position: fixed;
  top: 2rem;
  left: 3.5rem;
} */

/* HERO STYLING */
#hero {
  margin-top: 2rem;
  text-align: center;
}

#hero .hi {
  color: var(--primary-green-color);
  letter-spacing: 0.15rem;
}

#hero .profile-name {
  color: var(--textColor);
  font-size: 3.5rem;
  margin-top: 1rem;
}

#hero .profile-role {
  color: #a39898;
  font-size: 2rem;
}

#hero p {
  margin-top: 1rem;
}

#hero button {
  background-color: transparent;
  border: 2px solid var(--primary-green-color);
  margin-top: 2rem;
  padding: 1rem 3rem;
  transition: opacity 0.5s ease;
}

#hero button:hover {
  opacity: 0.5;
}

#hero button a {
  color: var(--textColor);
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
}

/* About styling */
.about {
  text-align: center;
  margin-top: 2rem;
}

.about .profile-info {
  line-height: 1.5;
  margin-right: 0;
}

.about .profile-info p {
  margin: 2rem 0;
}

#about .img-container {
  margin: auto;
}

#about img {
  width: 100%;
}
/* WORK STYLING */
#projects h3 {
  margin-bottom: 2rem;
}

.project {
  margin: 3rem 0;
}

.project-info {
  background-color: var(--projectInfoBg);
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

.project img {
  display: block;
  width: 100%;
  margin: auto;
  transition: all 0.5s ease;
}

.project img:hover {
  transform: translateY(-5px);
}

.project-info h4 {
  margin: 1rem;
}
.tech-used {
  color: var(--primary-green-color);
  margin-top: 1rem;
}
.tech-used a{
  color: var(--primary-green-color);
  margin-right: 1rem;
}
.tech-used span {
  display: inline-block;
  margin-right: 1rem;
}

/* get in touch */
.get-in-touch {
  text-align: center;
}

.get-in-touch h2 {
  margin: 1rem;
}

.get-in-touch button {
  background-color: transparent;
  border: 1px solid var(--primary-green-color);
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.get-in-touch button a {
  color: var(--textColor);
  text-decoration: none;
}

footer {
  margin-top: 5rem;
  text-align: center;
}

/* Tab media queries */
@media(min-width: 600px) {
  .work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  /* About tab screen */
  #about .img-container {
    width: 300px;
  }

  #about .img-container::after {
    width: 300px;
    height: 400px;
  }

  /* Contacts */
  form {
    padding: 1rem 2rem;
    max-width: 500px;
    margin: auto;
  }
}

@media (min-width: 764px) {

  #about,
  #contacts,
  #projects {
    margin-top: 10rem;
  }

  .hamburger {
    display: none;
  }
  /* #navbar{
    left: 8.5rem;
    top: 2.5rem;
  } */
 /*  nav ul {
    display: flex;
    background: none;
    position: static;
    margin-top: -10px;
    right: 0;

  }

  nav ul a {
    margin-right: 1rem;
  } */

  /* Hero large screen styling */
  #hero {
    margin-top: 2rem;
    text-align: left;
  }

  #hero button {
    margin-top: 5rem;
  }

  /* ABOUT large screen STYLING */
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about .profile-info {
    flex: 2;
    margin-right: 5rem;
    text-align: left;
  }

  .img-container {
    flex: 1;
  }
  /* Project for large screen */
  .project {
    display: flex;
    position: relative;
    margin: 5rem;
  }

  .project-screenshot {
    width: 65%;
  }

  .project-screenshot img {
    width: 100%;
  }

  .project-info {
    position: absolute;
    width: 40%;
    text-align: right;
    padding: 1.5rem;
    right: 2rem;
    top: 1.5rem;
  }

  /* Contacts */
  form {
    padding: 1rem 2rem;
    max-width: 700px;
    margin: auto;
  }
}