.navlist {
    background-color: var(--primary-green-color);
    display: block;
    position: fixed;
    top: 80px;
    right: 40px;
    padding: 1rem;
    text-align: center;
    list-style: none;
    width: 80%;
}

.navlist li {
    position: relative;
    margin-bottom: 1.5rem;
}
.navlist li::after{
    position: absolute;
    content: "";
    border-bottom: 2px solid #fff;
    display: block;
    width: 80%;
    bottom: -8px;
    right: 10%;
    margin: auto;
    opacity: 0.15
}

.navlist li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    transition: opacity 0.5s ease;
    opacity: 0.75;
}
.navlist a:hover {
    color: #fff;
    opacity: 0.5;
}

@media (min-width: 764px) {
    .navlist {
        display: flex;
        background: none;
        position: static;
        margin-top: -1rem;
        right: 0;

    }

    .navlist li a {
        margin-right: 1rem;
    }

}